
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">




    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>




    <link rel="stylesheet" type="text/css" href="css/lifehacks.css">
    <link rel="icon" type="image/x-icon" href="photo/favicon-32x32.PNG">
    <title>Welcome to Nutrimoon</title>





</head>
<body>





<div class="header-background">
    <div id="nav" class="sticky-nav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="photo/852963.jpg" width="242px" height="42px" alt="" loading="lazy">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="recipes.html">Recipes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Fitness
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="gym.html">Gym</a></li>
                                <li><a class="dropdown-item" href="is.html">Indoor sports</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Types of Diet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="calorietable.html">Food Calorie Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="life.html">Recommendations</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contacts
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="https://t.me/one_jiffy" target="_blank">Aizhan</a></li>
                                <li><a class="dropdown-item" href="https://t.me/losted0" target="_blank">Asylai</a></li>
                                <li><a class="dropdown-item" href="#">Madi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>







<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="photo/sleep.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="photo/smoke.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="photo/stress.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="photo/hands.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="photo/move.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>








<div class="row">
    <div class="side">

        <div class="card">

            <div class="container" style="  padding: 2px 16px;">
                <h4 id= "demo" style="margin-top: 20px; font-size: 55px;"><b>You are making decisions every day</b></h4>
                <p style="font-size: 13px; margin-top: 40px;">The decision to do a workout, the decision to read a book that has the capacity to change your life, the decision to smoke and ruin your health- all are decisions.
                </p>
            </div>
        </div>


        <div class="card">
            <img src="photo/lll.jfif" alt="Avatar" style="width:100%; height: 500px;">
            <div class="container" style="  padding: 2px 16px;">

            </div>
        </div>



        <div class="card">
            <div class="container" style="  padding: 2px 16px;">
                <h4  style="margin-top: 20px; font-size: 55px;"><b>People take charge of situations </b></h4>
                <p style="font-size: 13px; margin-top: 40px;">Another benefit is stated by Ayurveda-the science of life. It teaches us that one must wake up early before the sun and go to bed early. It helps in regulating your biological rhythm in alignment with nature and therefore leads to a healthy body and mind. </p>
                <form action="/single" method="get">
                    <button type="submit">Download</button>
                </form>
            </div>
        </div>
    </div>






    <div class="main">

        <article class="article">
            <h1>Healthy Habits</h1>
            <p>Meditation is a practice where an individual uses a technique – such as mindfulness, or focusing the mind on a particular object, thought, or activity – to train attention and awareness.</p>

            <blockquote>
                <p>This is one of those healthy habits that always used to elude me. Until I really understood what it was. Believe it or not, I used to think meditation was done in a room on a mat, or on a cushion with white sheets billowing. Turns out: not so much.</p>
                <cite>Medi<span class="cite-last-name">tation</span></cite>
                <div class="blockquote-author-image" style="--image: url('https://pbs.twimg.com/media/CoCRazzXgAAzy6G.jpg');"></div>

            </blockquote>

            <p>Reading is important, and its value can’t be overestimated when it comes to both adults and children.</p>
            <p>It might easily help you develop your own way of thinking and point of view</p>

            <blockquote>
                <p>The written word has a unique ability to hold and keep knowledge, stories, experience, thoughts, and even feelings – unlike anything else in this world. As such, it’s difficult to wonder why so many readers recommend practicing your reading skills.</p>
                <cite>Read<span class="cite-last-name">ing</span></cite>
                <div class="blockquote-author-image" style="--image: url('https://bizcommunicationcoach.com/wp-content/uploads/2015/10/How-to-Improve-Reading-Skills-2.jpg');"></div>

            </blockquote>

            <p>We know it sounds obvious, but keeping your body hydrated is crucial for staying healthy.</p>

            <blockquote>
                <p>Water is essential for bodily functions like transporting nutrients to cells, regulating your temperature and lubricating the joints.<p>
                    <cite>Stay<span class="cite-last-name">hydrated</span></cite>
                <div class="blockquote-author-image" style="--image: url('https://miro.medium.com/max/1200/1*brxAWIrahoIi6-70qm5XXg.jpeg');"></div>
            </blockquote>

            <blockquote>
                <p>As well as this though, if losing or maintaining your weight is one of your goals, drinking enough water each day could help.</p>
                <cite>drink<span class="cite-last-name">water</span></cite>
                <div class="blockquote-author-image" style="--image: url('https://www.fitfatherproject.com/wp-content/uploads/2017/05/how-to-lose-weight-fast-water-1024x682.jpg');"></div>
            </blockquote>

            <p>It may help you to avoid the temptation of getting a takeaway or eating ready meals, as you’ll know you have all the ingredients to cook something tasty for yourself</p>

            <blockquote>
                <p>From breakfast right through to dinner, planning your meals in advance </p>
                <cite>Plan<span class="cite-last-name">meal</span></cite>
                <div class="blockquote-author-image" style="--image: url('https://images5.alphacoders.com/433/433460.jpg');"></div>
            </blockquote>

            <blockquote>
                <p>From breakfast right through to dinner, planning your meals in advance may help you to avoid the temptation.</p>
                <cite>in<span class="cite-last-name">advance</span></cite>
                <div class="blockquote-author-image" style="--image: url('https://mybayutcdn.bayut.com/mybayut/wp-content/uploads/monthly-meal-delivery-services-in-Dubai-B-16-09.jpg');"></div>
            </blockquote>
        </article>

    </div></div>




















<footer class="text-center text-lg-start bg-light text-muted">
    <div class="footer">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fal fa-hand-holding-heart me-3"></i>Nutrimoon
                        </h6>
                        <p>
                            We are what we eat
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Menu
                        </h6>
                        <p>
                            <a href="recipes.html" class="text-reset">Recipes</a>
                        </p>
                        <p>
                            <a href="calorietable.htm" class="text-reset">Food Calorie Table</a>
                        </p>
                        <p>
                            <a href="life.html" class="text-reset">Recommendations</a>
                        </p>

                    </div>

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>

                        <p>
                            <a href="https://t.me/one_jiffy" target="_blank" class="text-reset">Social media</a>
                        </p>
                        <p>
                            <a href="https://t.me/losted0" class="text-reset">Contacts</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Astana, 020000 KZ</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            astanait@mail.ru
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +7 777 324 37 85</p>
                        <p><i class="fas fa-print me-3"></i> +7 777 777 56 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="#">Nutrimoon.com</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>








</body>
</html>
<!-- Form to handle single file download request-->


