<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name = "viewport" content="widtn=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a772954f2e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" type="image/x-icon" href="photo/favicon-32x32.PNG">
    <title>Welcome to Nutrimoon</title>
</head>
<body onpageshow="myFunction()">
<div class="header-background">
    <div id="nav" class="sticky-nav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="photo/852963.jpg" width="242px" height="42px" alt="" loading="lazy">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="recipes.html">Recipes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Fitness
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="views/gym.ejs">Gym</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Types of Diet
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="kd.html">Keto Diet</a></li>
                                <li><a class="dropdown-item" href="md.html">Mediterranean diet</a></li>
                                <li><a class="dropdown-item" href="pd.html">Paleo Diet</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="calorietable.html">Food Calorie Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="home.html">Recommendations</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contacts
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="https://t.me/one_jiffy" target="_blank">Aizhan</a></li>
                                <li><a class="dropdown-item" href="https://t.me/losted0" target="_blank">Asylai</a></li>
                                <li><a class="dropdown-item" href="#">Madi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 column-left">
            <div id="carouselExampleFade" class="carousel slide carousel" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active">
                        <img src="photo/ooo.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="photo/secondd.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="photo/thirdd.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 column-right">
            <h1 class="section-title">TAKE CARE OF YOUR BODY.
                IT’S THE ONLY PLACE YOU HAVE TO LIVE.</h1>
            <p class="paragraph">
                The site is for everyone who has
                decided to keep an eye on nutrition and figure.<br>
                There is a calorie counter, recipes for healthy tasty dishes
                and exercise complexes that you can do yourself at home.
            </p>
        </div>
    </div>
</div>
<h2 class="section-title mx-auto mt-5" style="width: 300px; text-shadow: 2px 2px 5px grey; font-family: 'Poppins', sans-serif; text-align: center;">What will you get?</h2>
<div class="container">
    <div class="row mx-5 mt-5">
        <div class="col">
            <div class="top-container" style="text-align: center;">
                <i class="fas fa-thin fa-dumbbell fa-3x" style="color: #89c290;"></i>
                <h4 class="fonttext">Customized personal training</h4>
                <h6 class="para" style="font-style: italic;">Our workouts and training programs are designed for each individual client</h6>
            </div>
        </div>
        <div class="col">
            <div class="top-container" style="text-align: center;">
                <i class="fas fa-thin fa-leaf fa-3x" style="color: #89c290;"></i>
                <h4 class="fonttext">3 most popular nutritional diet plans</h4>
                <h6 class="para" style="font-style: italic;">They are Keto diet, Mediterranean diet, Paleo diet</h6>
            </div>
        </div>
        <div class="col">
            <div class="top-container" style="text-align: center;">
                <i class="fas fal fa-carrot fa-3x" style="color: #89c290;"></i>
                <h4 class="fonttext">Various healthy recipes</h4>
                <h6 class="para" style="font-style: italic;">Craving more balance? These easy recipes focus on whole foods and healthy ingredients to help you cook
                    (and feel!) your best. </h6>
            </div>
        </div>
    </div>
</div>

<div id="flip">Read more</div>
<script>
    document.getElementById("flip").addEventListener("mouseenter", mouseEnter);
    document.getElementById("flip").addEventListener("mouseleave", mouseLeave);

    function mouseEnter() {
        document.getElementById("flip").style.color = "#89c290";
    }

    function mouseLeave() {
        document.getElementById("flip").style.color = "black";
    }
</script>
<div id="panel">
    <style>
        #panel, #flip {
            padding: 5px;
            text-align: center;
        }

        #panel {
            padding: 50px;
            display: none;
        }
        #flip{
            font-family:'Poppins', sans-serif;
            font-weight: 900;
        }
    </style>
    <div class="container">
        <div class="row mx-5 mt-5">
            <div class="col" >
                <div class="top-container" style="text-align: center;">
                    <i class="fas fal fa-running fa-3x" style="color: #89c290;"></i>
                    <h4 class="fonttext">At home workouts</h4>
                    <h6 class="para" style="font-style: italic;">These equipment-free fitness routines are great to do at home and short enough for you to easily fit them into your daily schedule.</h6>
                </div>
            </div>
            <div class="col">
                <div class="top-container" style="text-align: center;">
                    <i class="fas fal fa-spa fa-3x" style="color: #89c290;"></i>
                    <h4 class="fonttext">Several useful recommendations</h4>
                    <h6 class="para" style="font-style: italic;">A healthy lifestyle keeps you fit, energetic and reduced risk for disease.</h6>
                </div>
            </div>
            <div class="col">
                <div class="top-container" style="text-align: center;">
                    <i class="fas fal fa-table fa-3x" style="color: #89c290;"></i>
                    <h4 class="fonttext">Food calorie table</h4>
                    <h6 class="para" style="font-style: italic;">Here you can find more details about basic products</h6>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#flip").click(function(){
                $("#panel").slideDown("slow");
            });
        });
    </script>
</div>

<footer class="text-center text-lg-start bg-light text-muted">
    <div class="footer">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fal fa-hand-holding-heart me-3"></i>Nutrimoon
                        </h6>
                        <p>
                            We are what we eat
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Menu
                        </h6>
                        <p>
                            <a href="recipes.html" class="text-reset">Recipes</a>
                        </p>
                        <p>
                            <a href="calorietable.htm" class="text-reset">Food Calorie Table</a>
                        </p>
                        <p>
                            <a href="life.html" class="text-reset">Recommendations</a>
                        </p>

                    </div>

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>

                        <p>
                            <a href="https://t.me/one_jiffy" target="_blank" class="text-reset">Social media</a>
                        </p>
                        <p>
                            <a href="https://t.me/losted0" class="text-reset">Contacts</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Astana, 020000 KZ</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            astanait@mail.ru
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +7 777 324 37 85</p>
                        <p><i class="fas fa-print me-3"></i> +7 777 777 56 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="#">Nutrimoon.com</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>
</body>
</html>



